
<!DOCTYPE html>
<html>

<head>
    <% include partials/head %>
    <meta charset="utf-8" />
    <meta http-equiv="Content-Security-Policy" content="default-src *">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Group 10 StackOverflow</title>
    <link rel="stylesheet" href="/css/bootstrap.css"/>
</head>

<body class="container">
<header>
    <% include partials/header %>
</header>
<div class="container">
           <h4>Welcome to Group-10 Project-3</h4>
        <h3>Adaptive Stacck Overflow</h3>
        <h3>MERN Stack Application(Mongodb-Express-React-Node)</h3>

        <ul> Group members:
            <ol>Harsha Vardhan Yellamelli</ol>
            <ol>Pruthvi Elavarthy</ol>
            <ol>Meenakshi Ganesh</ol>
            <ol>Suraj Ravishankar</ol>
        </ul>
    <p>Any doubts please contact any of the members. Feedback appreciated</p>
    <footer>
        <% include partials/footer %>
    </footer>
</div>
</body>

</html>
