<!DOCTYPE html>
<html>
  <head>
    <% include partials/head %>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Group 10 StackOverflow</title>
  </head>

  <body class="container">
    <header>
      <% include partials/header %>
    </header>
    <script src="/js/utils.js"></script>
    <div id="main"><%- markup -%></div>

    <script src="/js/bundle.js"></script>

    <footer>
      <% include partials/footer %>
    </footer>

  </body>
</html>
a
