<!DOCTYPE html>
<html>

<head>
    <% include partials/head %>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Group 10 StackOverflow</title>
    <link rel="stylesheet" href="/css/bootstrap.css" />
</head>

<body class="container">
    <header>
      <% include partials/header %>
    </header>
    <div class="container">
     
        <div class="row">
            <div class="col-xs-12">
                <% if(success_msg.length>0){ %>
              <div class="alert alert-success"><%= success_msg %></div>
                <%}%>

            <% if(error_msg.length>0){ %>
              <div class="alert alert-danger"><%= error_msg %></div>
                  <%}%>

            <% if(error.length>0){ %>
              <div class="alert alert-danger"><%= error %></div>
                  <%}%>
                     

          <%if (locals.errors){ %>
            <%for(var i=0;i<locals.errors.length;i++){%>
              <div class="alert alert-danger"><%=locals.errors[i].msg%></div>
            <% } %>
          <% } %>

          <form method="post" action="/users/register">
             <div class="form-group">
              <label>Name</label>
              <input type="text" class="form-control" placeholder="Name" name="name">
            </div>
            <div class="form-group">
              <label>Username</label>
              <input type="text" class="form-control" placeholder="Username" name="username">
            </div>
             <div class="form-group">
              <label>Email</label>
              <input type="email" class="form-control" placeholder="Email" name="email">
            </div>
            <div class="form-group">
              <label>Password</label>
              <input type="password" class="form-control" placeholder="Password" name="password">
            </div>
            <div class="form-group">
              <label>Confirm Password</label>
              <input type="password" class="form-control" placeholder="Password" name="password2">
            </div>
            
             <div class="form-group">
                    <input type="checkbox" id="Java" name="interest" value="Java">
                    <label>Java </label>
                </div>
                <div class="form-group">
                    <input type="checkbox" id="Python" name="interest" value="Python">
                    <label>Python </label>
                </div>
                <div class="form-group">
                    <input type="checkbox" id="C++" name="interest" value="C++">
                    <label>C++ </label>
                </div>
            
            <button type="submit" class="btn btn-default">Submit</button>
          </form>

          </div>
         </div>
        <hr>
       
    </div>
    <footer>
      <% include partials/footer %>
    </footer>
</body>

</html>
