<!DOCTYPE html>
<nav class="navbar navbar-default" role="navigation">
<div class="container-fluid">
    <div class="navbar-header">
        <a class="navbar-brand" href="#">
            <span class="glyphicon glyphicon glyphicon-tree-deciduous"></span>
            Group 10 - StackOverflow
        </a>

        <ul class="nav navbar-nav">
            <li><a href="/default"> &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;Home</a></li>
                <li><a href="/about">About</a></li>
            <% if(!user){ %>
                <li><a href="/users/login">Login</a></li>
                <li><a href="/users/register">Register</a></li>
                <li><a href="/users/allmetrics">Metrics</a></li>
            <%}else{%>
                <li><a href="/users/metrics">Metrics</a></li>
                <li><a href="/users/logout">Logout</a></li>
            <% } %>
        </ul>
    </div>

</div>
</nav>
