<!DOCTYPE html>
<meta charset="UTF-8">
<title>Group 10 - StackOverflow</title>

<!-- CSS (load bootstrap from a CDN) -->
<link rel="stylesheet" href="/css/style.css">
<link rel="stylesheet" href="/css/all.css">
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
<link rel="stylesheet" href="//https://cdn.sstatic.net/Sites/stackoverflow">

<style>
    body    { padding-top:50px; }
</style>
